<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>成都贝臣齿科答谢会抽奖</title>
<style>
    *{padding: 0;margin: 0;}
    body{font-family: 微软雅黑;font-weight: bold;}
    .bg{
        width: 100%;
        height: 100%;

    }
    .bg img{
        width: 100%;
        height: 100%;
        position:absolute;
        z-index:-1;
        top:0px;
        left:0px;
    }
    .center-box{
        text-align: center;
        position: absolute;
        /* width: 500px; */
        left: 0;
        right: 0;
        top: 10%;
        bottom: 0;
        overflow: hidden;
    }
    #num{
        width: 45%;
        min-height: 200px;
        margin: 0 auto;
        text-align: center;
        /* line-height: 342px; */
        border-radius: 10px;
        background: #facd89;
        color: #f00;
        font-size: 9em;
        margin-top: 30px;
    }
    #num span{
        font-size: 12px;
    }
    #num .next{color: blue;cursor: pointer;}
    #get_num{
        width: 90%;
        /*width: 100%;*/
        margin: 0 auto;
        /*height: 40%;*/
        font-size: 80px;
        color: #fff;
        text-align: center;
        margin-top: 20px;
        /*overflow-y: auto;*/
    }
    .hide{display: none;}
</style>
</head>
<body>
    <div class="bg"><img src="__PUBLIC__static/images/bg.jpg" alt=""></div>
    <div class="center-box">
        <div class="logo"><img src="__PUBLIC__static/images/logo.png" alt=""></div>
        <div id="num">
            <!-- <span>本轮：</span><span class="lun">三等奖第一轮</span><span class="next">下一轮</span> -->
            三等奖第一轮
        </div>
        <div id="get_num"></div>
        <button class="hide" id="start">按空格键开始</button>
        <button class="hide" id="end" disabled="disabled">按空格键结束</button>
        <button class="hide" id="reset">重置</button>
        <div class="hide" id="all_nums"></div>
    </div>
    <script src="__PUBLIC__static/js/jquery-1.12.4.min.js"></script>
    <script>
    $(function(){
        var num = document.getElementById('num');//中间滚动的号码
        var getNum = document.getElementById('get_num');//显示中奖的号码
        var timer;//定时器
        var flag=true;
        var noLuckyNum=null;//未中奖号码
        var luckyNum=[];//中奖号码
        var lunItem=1;//抽奖轮次序号1-11
        var lunNum=null;//每轮抽奖产生的中奖号码个数
        var numHtml='';//每轮抽奖环节的标题
        var selfNum=[1,2,3];//特殊号码
        var params=null;//ajax请求参数



        // 从数据库获取未中奖客户数据
        function getData(params){
            $.ajax({
                url: '{:url("returndata")}?r='+Math.random(),
                type: 'POST',
                dataType: 'json',
                async:false,
                data: {param: params},
            })
            .done(function(data) {
                // console.log(typeof(data));//object
                // console.log(data);
                noLuckyNum=data;
            })
            .fail(function() {
                console.log("error");
            });
        }





        // 号码随机滚动
        function numRun(){

            var allNums=[];

            var random=Math.floor(Math.random() * allNums.length);
            if(allNums[random]){
                num.innerHTML = allNums[random];
            }
        }
        //补全前导0
        function buquan(num,length){
            var numstr = num.toString();
            var l=numstr.length;
            if (l>=length) {return numstr;}
            for(var  i = 0 ;i<length - l;i++){
                numstr = "0" + numstr;
            }
            return numstr;
        }





        // 切换抽奖轮数
        function changeLun(){
            switch (lunItem) {
                case 1:
                    lunNum=30;
                    numHtml='三等奖第一轮';
                    break;
                case 2:
                    lunNum=30;
                    numHtml='三等奖第二轮';
                    break;
                case 3:
                    lunNum=15;
                    numHtml='二等奖第一轮';
                    break;
                case 4:
                    lunNum=15;
                    numHtml='二等奖第二轮';
                    break;
                case 5:
                    lunNum=1;
                    numHtml='一等奖第一轮';
                    break;
                case 6:
                    lunNum=1;
                    numHtml='一等奖第二轮';
                    break;
                case 7:
                    lunNum=1;
                    numHtml='一等奖第三轮';
                    break;
                case 8:
                    lunNum=1;
                    numHtml='特等奖第一轮';
                    break;
                case 9:
                    lunNum=1;
                    numHtml='特等奖第二轮';
                    break;
                default:
                    // statements_def
                    break;
            }
        }


        //从一个给定的数组arr中,随机返回num个不重复项
        function getArrayItems(arr, num) {
            //新建一个数组,将传入的数组复制过来,用于运算,而不要直接操作传入的数组;
            var temp_array = new Array();
            for (var index in arr) {
                temp_array.push(arr[index]);
            }
            //取出的数值项,保存在此数组
            var return_array = new Array();
            for (var i = 0; i<num; i++) {
                //判断如果数组还有可以取出的元素,以防下标越界
                if (temp_array.length>0) {
                    //在数组中产生一个随机索引
                    var arrIndex = Math.floor(Math.random()*temp_array.length);
                    //将此随机索引的对应的数组元素值复制出来
                    return_array[i] = temp_array[arrIndex];
                    //然后删掉此索引的数组元素,这时候temp_array变为新的数组
                    temp_array.splice(arrIndex, 1);
                } else {
                    //数组中数据项取完后,退出循环,比如数组本来只有10项,但要求取出20项.
                    break;
                }
            }
            return return_array;
        }


        // 产生中奖号码并写如数据库
        function run() {
            // console.log(noLuckyNum)
            changeLun();
            //一等奖特殊处理
            if(numHtml.indexOf('一等奖')!=-1){
                luckyNum=getArrayItems(selfNum,lunNum);//得到随机不重复中奖号码
            }else{
                if(noLuckyNum){
                    luckyNum=getArrayItems(noLuckyNum,lunNum);//得到随机不重复中奖号码
                }
            };
            // console.log(luckyNum);
            if(luckyNum.length>0){
                $.ajax({
                    url: '{:url("updateLucky")}?r='+Math.random(),
                    type: 'POST',
                    // dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
                    data: {'num':luckyNum,'lun':lunItem},
                })
                .done(function(data) {
                    console.log(data)
                    if(data==1){
                        console.log('更新成功');
                    }

                })
                .fail(function() {
                    console.log("error");
                });
            }




        }

        // 开始抽奖
        function start() {

            // console.log(1);
            clearInterval(timer);
            getData();
            // console.log('未中奖号码'+noLuckyNum);
            console.log(noLuckyNum);//未中奖号码 一维数组
            if(noLuckyNum.length>0){
                timer = setInterval(numRun, 50);
                run();
                flag=false;
            }
            return false;

        }

        // 停止抽奖
        function end() {
            clearInterval(timer);
            console.log('中奖号码'+luckyNum);
            if(noLuckyNum.length==0){
                oStart.disabled=true;
                oEnd.disabled=true;
            }
            flag=true;
            changeLun();
            num.innerHTML=numHtml;//中间显示抽奖环节标题

            getNum.innerHTML='恭喜本轮中奖号码：<br><p>'+luckyNum+'</p>';//显示本轮中奖号码

        }


        document.onkeyup=function(e){
            var e=e||window.event;
            // alert(e.keyCode)
            // 空格键开始和停止抽奖
            if(e.keyCode==32 && flag){
                // console.log(e.keyCode);
                start();
            }else if (e.keyCode==32 && !flag) {
                end();
            }
            // 右方向键切换到下一轮抽奖环节
            if(e.keyCode==39){
                lunItem+=1;
                if(lunItem==10){
                    lunItem=1;
                }
                // console.log(lunItem)
                changeLun();
                num.innerHTML=numHtml.substring(0,6);
            }
            // 左方向键切换到上一轮抽奖环节
            if(e.keyCode==37){
                lunItem-=1;
                if(lunItem==0){
                    lunItem=9;
                }
                // console.log(lunItem)
                changeLun();
                num.innerHTML=numHtml.substring(0,6);
            }

            //清除本地所有存储数据
            if(e.keyCode==27){
                localStorage.clear();
            }

        }




    })


    </script>
</body>
</html>
