<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>成都贝臣齿科活动抽奖</title>
<link rel="stylesheet" href="__STATIC__/lucky/css/style.css">
</head>
<body>
    <div class="bg"><img src="__STATIC__/lucky/images/bg.jpg" alt=""></div>
    <div class="center-box">
        <div class="logo"><img src="__STATIC__/lucky/images/logo.png" alt=""></div>
        <div id="turns-heading"></div>
        <div id="show-lucky"></div>
        <div class="hide" id="all_nums"></div>

        <audio id="play-music" src="__STATIC__/lucky/music/run.mp3" loop></audio>
        <audio id="stop-music" src="__STATIC__/lucky/music/stop.mp3"></audio>
    </div>
    <script src="__STATIC__/lucky/js/main.js"></script>
    <script src="__STATIC__/js/axios.min.js"></script>
    <!-- <script src="__STATIC__/lucky/js/es5.js"></script> -->
    <script>
        window.onload=function(){
            if(!window.localStorage){
                alert('您的浏览器不支持window.localStorage! 请更换最新chrome或Firefox');
                return false;
            }
            var selfNum=[
                [1],
                [],
                [],
                [3]
            ];//每轮内定号码，没有内定号码就设置空数组

            function getSignNums(){
                // axios.post('{:url("lucky/getSignNums")}')
                axios.post('{:url("lucky/getUploadsData")}')
                .then(function (response) {
                    // console.log(response.data.length);//array
                    console.log(response)
                    var lucky=new Lucky({
                        'data':[],//精确的参与抽奖号码（从数据库查询的）
                        'initNum':[1,40],//参与抽奖号码范围，必须
                        'numPwrap':'show-lucky',//必须
                        'turnsWrap':'turns-heading',//必须
                        'smTitle':['200元代金券','300元代金券','500元代金券','免费种植牙'],//轮次小标题 必须
                        'runSpeed':30,//号码滚动速度
                        'isPlay':true,//是否播放音效
                        'isShowTurn':true,//是否显示轮次标题
                        'selfNum':selfNum//内定号码
                    });

                    if(response.status==200 && response.data.length>0){

                        lucky.data=response.data;
                    }else{
                        alert('数据库没有签到号,使用initNum');
                    }

                    // console.log(lucky.data)
                    lucky.init();
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
            getSignNums();

        }
    </script>
</body>
</html>
